@font-face {
    font-family: 'Noto Sans JP';
    src: url('../font/NotoSansJP-Medium-Alphabetic.woff2') format('woff2'),
        url('../font/NotoSansJP-Medium-Alphabetic.woff') format('woff');
    font-weight: 500;
}

body {
    font-family: 'Noto Sans JP';
    max-width: 1000px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

button {
    padding-inline: 16px;
    padding-block: 8px;
    border-radius: 6px;
    margin: 16px;
    border: none;
    color: #3F3F3F;
    line-height: 22px;
}


#root > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#root div > div {
    border: 2px solid gray;
    text-align: center;
}

.defaultBttn:hover,
.defaultBttn:focus {
    background-color: #AEAEAE;
}

.outline {
    border: 1px solid rgba(61, 90, 254, 1);
    color: #2962FF;
}

.outline:hover,
.outline:focus {
    background-color: rgba(41, 98, 255, 0.1);
}


.textVariant {
    background-color: white;
    color: #2962FF;
}

.textVariant:hover,
.textVariant:focus {
    background-color: rgba(41, 98, 255, 0.1);
}

.disableShadow {
    color: white;
    background-color: #2962FF;
    box-shadow: none;
}

.disabledBttn {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
}

.textDisabledBttn {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
}

.startIconBttn,
.endIconBttn {
    background-color: #2962FF;
    color: white;
}

.startIconBttn::before {
    content: '';
    background-image: url('../assets/add_shopping_cart-24px.svg');
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    margin-inline-end: 82px;
    margin-block-end: -20px;
    fill: #ffffff;
    display: block;
}

.endIconBttn::after {
    content: '';
    background-image: url('../assets/add_shopping_cart-24px.svg');
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    margin-inline-start: 82px;
    margin-block-start: -20px;
    display: block;
}

.smBttn {
    background-color: #2962FF;
    color: white;
    padding-inline: 12px;
    padding-block: 6px;
}

.mdBttn {
    background-color: #2962FF;
    color: white;
}

.lgBttn {
    background-color: #2962FF;
    color: white;
    padding-inline: 22px;
    padding-block: 12px;
}

.default2:hover,
.default2:focus {
    background-color: #AEAEAE;
}

.primaryBttn {
    color: white;
    background-color: #2962FF;
}

.primaryBttn:hover,
.primaryBttn:focus {
    background-color: #0039CB;
}

.secondaryBttn {
    color: white;
    background-color: #455A64;
}

.secondaryBttn:hover,
.secondaryBttn:focus {
    background-color: #1c313A;
}

.dangerBttn {
    background-color: #D32F2F;
    color: white;
}

.dangerBttn:hover,
.dangerBttn:focus {
    background-color: #9A0007;
}